.channel-list {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  border-radius: 8px 8px 0 0;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.channel-list[data-status=active] {
  visibility: visible;
}


.channel-list .title {
  position: relative;
  height: 48px;
  line-height: 48px;
  padding-left: 24px;
  /* margin: 32px 0 20px 32px; */
  font-size: 16px;
  color: #666666;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.channel-list .list-container {
  position: absolute;
  top: 44px;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: box-shadow 500ms;
}


.channel-list .list-container[data-status=scrolled] {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}


.channel-list .close-button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 32px;
  right: 16px;
  background:url(../assets/close.svg) center no-repeat;
  background-size: 12px 12px;
  opacity: 0.5;
  border-radius: 2px;
  cursor: pointer;
  transition: 200ms;
}

.CG-channel-list {
  position: relative;
  transition: height 300ms;
  overflow: hidden;
}

.channel-list .close-button:hover {
  background-color: rgba(0, 0, 0, 0.075);
  opacity: 1;
}

.channel-list .close-button:active {
  background-color: rgba(0, 0, 0, 0.15);
}



#info-snackbar-content {
  display: flex;
  align-items: center;
}


.channel-group {
  /* margin-bottom: 16px; */
}

.channel-group-header {
  display: flex;
  align-items: center;
  height: 32px;
  /* background-color: rgba(0, 0, 0, 0.075); */
}

.triangle-btn {
  position: relative;
  width         : 0;
  height        : 0;
  margin-left: 16px;
  border-top    : 8px solid #888888;
  border-right  : 5px solid transparent;
  border-left   : 5px solid transparent;
  border-bottom : 0;
  cursor        : pointer;
  transition    : transform 150ms;
}

.triangle-btn:hover {
  border-top    : 8px solid #333333;
}

.triangle-btn:hover:before {
  position: absolute;
  content: '';
  left: -8px;
  top: -13px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
}

.triangle-btn[data-expend=true] {
  transform  : rotate(0deg);
  transition : transform 150ms;
}

.triangle-btn[data-expend=false] {
  transform : rotate(-90deg) translateY(1px);
}

/* #gantt-grid .node-close:before {
  position: absolute;
  content: '';
  left: -8px;
  top: -13px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.15);
} */

.CL-channel-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  padding-left: 57px;
}

.CL-channel-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 21px;
  width: 1px;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.CL-item-label {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 15px;
  padding-left: 24px;
  background:url(../assets/channel_default.svg) 0 no-repeat;
  background-size: 18px;
  cursor: default;
}

.CL-item-label[data-type=sensor] {
  background:url(../assets/sensor.svg) 0 no-repeat;
  background-size: 18px;
}

.CL-item-label[data-type=pressure] {
  background:url(../assets/pressure.svg) 0 no-repeat;
  background-size: 18px;
}


.CL-item-label[data-type=temperature] {
  background:url(../assets/temperature.svg) 0 no-repeat;
  background-size: 18px;
}

.CL-item-label[data-type=consumption] {
  background:url(../assets/consumption.svg) 0 no-repeat;
  background-size: 18px;
}

.CL-item-label[data-type=flow] {
  background:url(../assets/flow.svg) 0 no-repeat;
  background-size: 18px;
}

.CL-item-label[data-type=velocity] {
  background:url(../assets/velocity.svg) 0 no-repeat;
  background-size: 18px;
}

.CL-item-label[data-type=virtual] {
  background:url(../assets/virtual.svg) 0 no-repeat;
  background-size: 18px;
}

.CL-item-label[data-type=voltage] {
  background:url(../assets/voltage.svg) 0 no-repeat;
  background-size: 18px;
}

.CL-item-label[data-type=power_factor] {
  background:url(../assets/power_factor.svg) 0 no-repeat;
  background-size: 18px;
}

.CL-item-label[data-type=active_power] {
  background:url(../assets/active_power.svg) 0 no-repeat;
  background-size: 18px;
}

.CL-item-label[data-type=humidity] {
  background:url(../assets/humidity.svg) 0 no-repeat;
  background-size: 18px;
}

.CL-item-label[data-type=light_intensity] {
  background:url(../assets/light_intensity.svg) 0 no-repeat;
  background-size: 18px;
}

.CL-item-label[data-type=frequency] {
  background:url(../assets/frequency.svg) 0 no-repeat;
  background-size: 18px;
}

.CL-item-label[data-type=dew_point] {
  background:url(../assets/dew_point.svg) 0 no-repeat;
  background-size: 18px;
}

.CL-item-label[data-type=relative_humidity] {
  background:url(../assets/relative_humidity.svg) 0 no-repeat;
  background-size: 18px;
}

.CL-item-label[data-type=active_energy] {
  background:url(../assets/active_energy.svg) 0 no-repeat;
  background-size: 18px;
}